@use "./sizes";
@use "./spacing";
@use "./radii";
@use "./colors";

:root {

  // sizes
  @each $k, $v in sizes.$sizes {
    --size-#{$k}: #{$v};
  }

  // spacing
  @each $k, $v in spacing.$spacing {
    --space-#{$k}: #{$v};
  }

  // radii
  @each $k, $v in radii.$radii {
    --radius-#{$k}: #{$v};
  }

  // colors
  @each $k, $v in colors.$colors {
    --color-#{$k}: #{$v};
  }
}