.wrapper {
  width: 100%;
  height: 100%;
  padding: size(lg);
  display: flex;
  flex-direction: row;
  gap: size(lg);

  .main-frame {
    flex: 1;
    height: 100%;
    position: relative;
    .topbar{
      position: absolute;
      width: 100%;
      height: 30%;
      border-radius: size(xl);
    }
    .main-content{
      height: 100%;
      width: 100%;
    }
  }
}