@use "./foundation/base";
@use "./foundation/themes" as themes;

:root {
  @include themes.theme(light);
}

body[data-theme="dark"] {
  @include themes.theme(dark);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

#root {
  width: 100%;
  height: 100%;
  background: theme(bg-gradient);
}