@function color($key) {
    @return var(--color-#{$key});
}

@function size($key) {
    @return var(--size-#{$key});
}

@function space($key) {
    @return var(--space-#{$key});
}

@function radius($key) {
    @return var(--radius-#{$key});
}

@function theme($key) {
    @return var(--theme-#{$key});
}